.register-form{
    height: 360px;
    width: 250px;
    .form-item-height{
        height: 65px;
    }
    .custom-submit{
        background-color: $primary-color;
        color: white;
    }
    .custom-submit:hover{
        color: white;
    }
}