.landing{
    background-color: $primary-color;
    height: 100vh;
    color: $primary-color;

    .content-container{
        width: 330px;
        background-color: white;
        transition: height .8s linear, border-radius .8s linear;
        .content-layover{
            z-index: 1;
            width: 330px;
            position: relative;
            animation: coloranimation 15s infinite;
            transition: height .8s linear, border-radius .8s linear;
        }
    }

    .magic-container{
        width: 350px;
        border: 5px solid $secondary-color;
        position: absolute;
        animation: magic 15s infinite linear;
        transition: height .8s linear, border-radius .8s linear;
    }

    .manager{
        // position: absolute;
        // bottom: 20px;
        // left: 20px;
        color: white;
    
        .here{
            color: $secondary-color;
            text-decoration: none;
            cursor: pointer;
        }
        .here:hover{
            color: $secondary-color;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .zach{
        position: absolute;
        font-size: 12px;
        bottom: 20px;
        left: 20px;
        color: white;
    }
}


@keyframes magic {
    0%{
        transform: rotate3d(0, 0, 0, 0deg);
    }
    12.5%{
        transform: rotate3d(-2,1, 0,-28deg);
    }
    25%{
        transform: rotate3d(0, 0, 0, 0deg);
    }
    37.5%{
        transform: rotate3d(-1,-2, 0,-28deg);
    }
    50%{
        transform: rotate3d(0, 0, 0, 0deg);
    }
    62.5%{
        transform: rotate3d(1,-2, 0,-28deg);
    }
    75%{
        transform: rotate3d(0, 0, 0, 0deg);
    }
    87.5%{
        transform: rotate3d(-2,-1, 0,-28deg);
    }
}

@keyframes coloranimation {
    0%{
        background: linear-gradient(to left top, white 50%, transparent 50%)
    }
    12.5%{
        background: linear-gradient(to left top, white 50%, transparent 50%)
    }
    25%{
        background: linear-gradient(to left top, white 50%, transparent 50%)

    }
    37.5%{
        background: linear-gradient(to right top, white 50%, transparent 50%)
    }
    50%{
        background: linear-gradient(to right top, white 50%, transparent 50%)

    }
    62.5%{
        background: linear-gradient(to right bottom, white 50%, transparent 50%)

    }
    75%{
        background: linear-gradient(to right bottom, white 50%, transparent 50%)

    }
    87.5%{
        background: linear-gradient(to left bottom, white 50%, transparent 50%)
    }
    100%{
        background: linear-gradient(to left bottom, white 50%, transparent 50%)
    }
}



