$primary-color: #130c25;
$secondary-color: #ff5349;
$primary-gray: #e7e6e9;


// forms
@import "./forms/register";
@import "./forms/login";
@import "./forms/set-up";

// Pages
@import "./pages/Home";
@import "./pages/Landing";